body{
    background-color: #06060c;
}
main{
    background-color: #04041b;
}
p {
    color: white;
}
h1 {
    color: white;
}
.wrap {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}
footer {
    position: bottem;
}