body{
    background-color: #06060c;
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
main{

}
p {
    color: white;
}
h1 {
    color: white;
    font-size: 100px;
}
h2 {
    font-size: 75px;
    justify-self: center;
}
header {
    position: fixed;
    background-color: #04041b;
    width: 100%;
    padding:10px;
    height:50px;
    bottom: 90%;
    left: 0%;
}
.headergrid {
    display: grid;
    grid-template-columns: 30% 10% 10% 10% 10%;
}
footer {
    position: fixed;
    top: 93%;
    background-color: #04041b;
    width: 110%;
    padding:10px;
    height:40px;
    left: 0%;
}
button {
    background-color: #fecf64;
    width: 100px;
    height: 30px; 
}
.SiteContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100px 150px 310px 120px 300px;
    color:white;
    gap: 5px;
}

.item0 {
    grid-column: 1 / span 3;
    background-color: #06060c;
    color: #06060c;
}
.item1 {
    grid-column: 1 / span 3;
    justify-self: center;
    align-self: center;
    margin-bottom: 5%;
}
.item {
    background-color: #04041b;
}
.row2 {
    align-self: center;
    justify-self: center;
    padding: 10px;
    margin-bottom: 10%;
}

@media screen and (min-width: 1276px){
    h1 {
        font-size: 100px;
    }
    h2 {
        font-size: 75px;
    }
    header {
        padding:10px;
        height:50px;
        bottom: 90%;
    }
    footer {
        top: 93%;
        padding:10px;
        height:40px;
    }
    button {
        width: 100px;
        height: 30px; 
    }
    .SiteContainer {
        grid-template-rows: 100px 150px 310px 120px 300px;
        gap: 5px;
    }
    .item1 {
        margin-bottom: 5%;
    }
    .row2 {
        padding: 10px;
        margin-bottom: 10%;
    }
}
@media screen and (min-width: 1148px) and (max-width: 1275px) {
    h1 {
        font-size: 90px;
    }
    h2 {
        font-size: 70px;
    }
    header {
        padding:10px;
        height:50px;
        bottom: 90%;
    }
    footer {
        top: 93%;
        padding:10px;
        height:40px;
    }
    button {
        width: 100px;
        height: 30px; 
    }
    .SiteContainer {
        grid-template-rows: 100px 150px 310px 120px 300px;
        gap: 5px;
    }
    .item1 {
        margin-bottom: 5%;
    }
    .row2 {
        padding: 10px;
        margin-bottom: 10%;
    }
}
@media screen and (min-width: 1019px) and (max-width: 1147px) {
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 65px;
    }
    header {
        padding:10px;
        height:50px;
        bottom: 90%;
    }
    footer {
        top: 93%;
        padding:10px;
        height:40px;
    }
    button {
        width: 100px;
        height: 30px; 
    }
    .SiteContainer {
        grid-template-rows: 100px 150px 310px 120px 300px;
        gap: 5px;
    }
    .item1 {
        margin-bottom: 5%;
    }
    .row2 {
        padding: 10px;
        margin-bottom: 10%;
    }
}
@media screen and (min-width: 900px) and (max-width: 1018px) {
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 60px;
    }
    header {
        padding:10px;
        height:50px;
        bottom: 90%;
    }
    footer {
        top: 93%;
        padding:10px;
        height:40px;
    }
    button {
        width: 100px;
        height: 30px; 
    }
    .SiteContainer {
        grid-template-rows: 100px 150px 310px 120px 300px;
        gap: 5px;
    }
    .item1 {
        margin-bottom: 5%;
    }
    .row2 {
        padding: 10px;
        margin-bottom: 10%;
    }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 60px;
    }
    header {
        padding:10px;
        height:50px;
        bottom: 95%;
    }
    footer {
        top: 93%;
        padding:10px;
        height:40px;
    }
    button {
        width: 100px;
        height: 30px; 
    }
    .SiteContainer {
        grid-template-rows: 100px 150px 310px 120px 300px;
        gap: 5px;
    }
    .item1 {
        margin-bottom: 5%;
    }
    .row2 {
        padding: 10px;
        margin-bottom: 10%;
    }
}